[Unit]
Description=GH Proxy Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/http/gh-proxy
ExecStart=/usr/bin/python3 /srv/http/gh-proxy/app/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
